.navbar {
  display: block;
}
.navbar_main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 30px 22px;
}
.cancel_button{
  cursor: pointer;
  color: #000;
  font-size:1.875rem;
}
.brand_logo{
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.hamburger{
  cursor: pointer;
  height: 40px;
  transition: all 0.4s cubic-bezier(0, 0, 0, 1) 0s;
  user-select: none;
  width: 40px;
  outline: none;
}
.hamburger img,
.brand_logo img{
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .navbar_main {
    display: none;
  }
}
