@font-face{
  font-family: 'Söhne';
  src: url(./font/Söhne-Font-Family-Collection/Test-Söhne/TestSöhne-Buch.otf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Söhne';
}
